<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Ideology</h2>
                <hr class="light">
                <p class="text-faded">Since the popularity of the internet, it has been changing our lives drastically. And for the sight impaired, browsing experience can be quite different form the rest of us. According to the NHS in the UK, there are almost 2 million people living with sight loss. Of these, around 360,000 are registered as blind or partially sighted.</p>

                <p class="text-faded">Nowadays the responsibility of accessibility are upon the web designers and engineers, even though organisations are advocating the importance of accessibility design and there are laws to enforce the equality and accessibility, the browsing experience of sight impaired people are still depends of the awareness of the industry. We would like to give this power of having a smooth browsing experience to the users, by working closely with the community, we can build a tool that works on the users' side and will remove the dependences on the web designers.</p>
                <!----
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                ---->
            </div>
        </div>
    </div>
</section>
