<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Make the internet more visible</h1>
            <hr>
            <p>Soapie is an open-source browser extension to make the internet more accessible. Using the AI technology to fill in the blanks of a webpage or remove blocks, it improves browsing experience for people in need. When installed and switched on, Soapie will automatically change the html of the webpage so it can be easily used for other assisting tools.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
